
.sidebar{
    position: fixed;
    left:0;
    bottom:0;
    top:56px;
    background-color:white;
    width:72px;
    padding-top: 5px;
    z-index: 200;
  
    
}
.container .sidebar-link{
    height:74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
    font-size: 10px;
    cursor: pointer;
}
.sidebar-link:hover {
    background-color: rgb(234, 232, 232);
}
.sidebar-link img {
    height:24px;
    margin-bottom: 5px;
}
.sidebar-link div {
    font-family: arial;
    font-size:10px; 

}
